<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <li v-for="(item, index) in list1" :key="index">
            <input type="text" :value="item.name">
            <button @click="del1(index)">删除</button>
            {{item.name}}
        </li>
        <button @click="add1">添加一项</button> -->

        <h1>checkbox</h1>

        <li v-for="(item, index) in list2" :key="index">
            <input type="checkbox" :value="item.checked" @change="change($event, item)">
            <span>{{item.value}}</span>
            <button @click="del2(index)">删除</button>
            {{item.checked}}
        </li>
        <button @click="add2">添加一项</button>
    </div>
</body>
<script>
    
    var app = new Vue({
        el: '#app',
        data: {
            list1: [
                {name: '1', value: 5,},
                {name: '2', value: 6},
                {name: '3', value: 7},
                {name: '4', value: 8},
                {name: '5', value: 9},
            ],
            list2: [
                {name: '', value: 1, checked: false},
                {name: '', value: 2, checked: false},
                {name: '', value: 3, checked: false},
                {name: '', value: 4, checked: false},
                {name: '', value: 5, checked: false},
            ],
        },
        methods: {
            change(e, item) {
                console.log(111111);
                item.checked = e.target.checked;
            },
            add1() {
                let len = this.list1.length;
                this.list1.push({
                    name: '',
                    value: len
                });
            },
            del1(index) {
                this.list1.splice(index, 1);
            },
            add2() {
                let len = this.list2.length;
                this.list2.push({
                    name: '',
                    value: len + 1,
                    checked: false
                });
            },
            del2(index) {
                this.list2.splice(index, 1);
            }
        },
      
    });
  </script>
</html>